@* _AdminLayout.cshtml updated navigation *@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="">
    <meta name="author" content="Phoenixcoded" />
    <title>@ViewData["Title"] - Admin</title>

    <link rel="icon" href="~/assets/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="~/assets/css/style.css" />
    @RenderSection("Styles", required: false)
</head>
<body>
    <!-- [ Pre-loader ] start -->
    <div class="loader-bg">
        <div class="loader-track">
            <div class="loader-fill"></div>
        </div>
    </div>
    <!-- [ Pre-loader ] end -->
    <!-- [ Navigation Menu ] start -->
    <nav class="pcoded-navbar">
        <div class="navbar-wrapper">
            <div class="navbar-content scroll-div">
                <div class="main-menu-header">
                    <img class="img-radius" src="~/assets/images/user/avatar-2.jpg" alt="User-Profile-Image">
                    <div class="user-details">
                        <span>@User.Identity?.Name</span>
                        <div id="more-details">Admin<i class="fa fa-chevron-down m-l-5"></i></div>
                    </div>
                </div>
                <div class="collapse" id="nav-user-link">
                    <ul class="list-unstyled">
                        <li class="list-group-item"><a asp-controller="Account" asp-action="Profile"><i class="feather icon-user m-r-5"></i>Profile</a></li>
                        <li class="list-group-item"><a asp-controller="Account" asp-action="Settings"><i class="feather icon-settings m-r-5"></i>Settings</a></li>
                        <li class="list-group-item">
                            <form method="post" asp-controller="Home" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                <button type="submit" class="btn btn-link p-0"><i class="feather icon-log-out m-r-5"></i>Logout</button>
                            </form>
                        </li>
                    </ul>
                </div>

                <ul class="nav pcoded-inner-navbar">
                    <li class="nav-item pcoded-menu-caption"><label>Dashboard</label></li>
                    <li class="nav-item">
                        <a asp-controller="Admin" asp-action="Index" class="nav-link">
                            <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                            <span class="pcoded-mtext">Dashboard</span>
                        </a>
                    </li>

                    <li class="nav-item pcoded-menu-caption"><label>Employees</label></li>
                    <li class="nav-item pcoded-hasmenu">
                        <a href="#" class="nav-link"><span class="pcoded-micon"><i class="feather icon-users"></i></span><span class="pcoded-mtext">Employees</span></a>
                        <ul class="pcoded-submenu">
                            <li><a asp-controller="Admin" asp-action="CreateEmployee">Add Employee</a></li>
                            <li><a asp-controller="Admin" asp-action="EmployeeList">Employee List</a></li>
                        </ul>
                    </li>

                    <li class="nav-item pcoded-menu-caption"><label>Organization</label></li>
                    <li class="nav-item pcoded-hasmenu">
                        <a href="#" class="nav-link"><span class="pcoded-micon"><i class="feather icon-layers"></i></span><span class="pcoded-mtext">Structure</span></a>
                        <ul class="pcoded-submenu">
                            <li><a asp-controller="Department" asp-action="Index">Departments</a></li>
                            <li><a asp-controller="Designation" asp-action="Index">Designations</a></li>
                            <li><a asp-controller="Holiday" asp-action="Index"><i class="feather icon-calendar"></i> Holidays</a></li>
                            <li><a asp-controller="Shift" asp-action="Index"><i class="feather icon-clock"></i> Shifts</a></li>
                        </ul>
                    </li>

                    <li class="nav-item pcoded-menu-caption"><label>Attendance & Leave</label></li>
                    <li class="nav-item pcoded-hasmenu">
                        <a href="#" class="nav-link"><span class="pcoded-micon"><i class="feather icon-clock"></i></span><span class="pcoded-mtext">Attendance / Leave</span></a>
                        <ul class="pcoded-submenu">
                            <li><a asp-controller="Attendance" asp-action="Index">Attendance</a></li>
                            <li><a asp-controller="Leave" asp-action="AdminList">Leave Approvals</a></li>
                        </ul>
                    </li>

                    <li class="nav-item pcoded-menu-caption"><label>Reports</label></li>
                    <li class="nav-item pcoded-hasmenu">
                        <a href="#" class="nav-link"><span class="pcoded-micon"><i class="feather icon-bar-chart-2"></i></span><span class="pcoded-mtext">Reports</span></a>
                        <ul class="pcoded-submenu">
                            <li><a asp-controller="Report" asp-action="MonthlyAttendance"><i class="feather icon-calendar"></i> Monthly Report</a></li>
                            <li><a asp-controller="LeaveBalance" asp-action="Index"><i class="feather icon-briefcase"></i> Leave Balances</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- [ Navigation Menu ] end -->
    <!-- [ Header ] start -->
    <header class="navbar pcoded-header navbar-expand-lg navbar-light header-dark">
        <div class="m-header">
            <a class="mobile-menu" id="mobile-collapse" href="#!"><span></span></a>
            <a href="#!" class="b-brand">
                <img src="~/assets/images/logo.png" alt="Logo" class="logo">
                <img src="~/assets/images/logo-icon.png" alt="Logo Thumb" class="logo-thumb">
            </a>
            <a href="#!" class="mob-toggler"><i class="feather icon-more-vertical"></i></a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto"></ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <form method="post" asp-controller="Home" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" class="d-inline">
                        <button type="submit" class="btn btn-sm btn-outline-light">Logout</button>
                    </form>
                </li>
            </ul>
        </div>
    </header>
    <!-- [ Header ] end -->
    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-content">
            @RenderBody()
        </div>
    </div>
    <!-- [ Main Content ] end -->
    <!-- Required JS -->
    <script src="~/assets/js/vendor-all.min.js"></script>
    <script src="~/assets/js/plugins/bootstrap.min.js"></script>
    <script src="~/assets/js/pcoded.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
